
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.email
            </td>
            <td>
                @ViewBag.password
            </td>
        </tr>
    </tbody>
</table>
